<div class="background">
  <div class="booyah-box container">
    <p id="notice"><%= notice %></p>
    <p <%= current_user_type %> </p>
    <h1>Parks</h1>
    <%= simple_form_for :place do |f| %>
            <%= f.input :park_name %>
            <%= f.input :address %>
            <%= f.input :zip_code %>
            <%= f.input :phone %>
            <br />
            <%= f.submit 'Create', class: 'btn btn-primary' %>
        <% end %>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @places.each do |place| %>
          <tr>
            <td>
              <h1><%= place.park_name%></h1><br />
              <i><%= place.address %></i><br />
              <p><%= place.zip_code %></p><br />
            </td>
            <td><%= link_to 'Show', place_path(@place) %></td>
            <td><%= link_to 'Edit', edit_place_path(place) %></td>
            <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Place', new_place_path %>
  </div>
</div>