<div class="background"> 
    <div class="row">
        <div class="col">
            <div class="booyah-box mx-auto my-4" id="host-profile">
                <h1> Host </h1>
                <%= @host.email %>
                
                <% @host.places.each do |place| %>
                    <div class="booyah-box">

                        <tr>
                            <td>
                            <h1><%= place.park_name %></h1><br />
                            <i><%= place.address %></i><br />
                            <p><%= place.zip_code %></p><br />
                            <p><%= place.placeable_id %></p><br />
                            </td>
                            <td><%= link_to 'Show', place %></td>
                            <td><%= link_to 'Edit', edit_place_path(place) %></td>
                            <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    </div>
                  <% end %>
              
                <a class="btn btn-secondary" href="/places" role="button">Add New Place</a>
                

            </div>
        </div>
    </div>
</div>