<div class="background">
  <div class="booyah-box container">
    <p id="notice"><%= notice %></p>

    <h1>Parks</h1>
    </li>
    
    <% if user_signed_in? %>
      <% @places.each do |place| %>
        <tr>
          <td>
            <h1><%= link_to place.park_name, place  %></h1><br />
            <p><img src="<%= place.photo %>"></p><br /> 
            <i><%= place.address %></i><br />
            <p><%= place.zip_code %></p><br />
            <p><%= number_to_currency place.cost %></p><br />
        </td>

      <% end %>
    <% elsif host_signed_in? %>
      <%= simple_form_for :place do |f| %>
        <%= f.input :park_name %>
        <%= f.input :address %>
        <%= f.input :zip_code %>
        <%= f.input :phone %>
        <%= f.input :cost %>
        <%= f.file_field :photo %>
        <br />
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      <% end %>

    <% end %>
 


    

