<% flash.each do |type, msg| %>
  <div class="alert alert-danger">
    <%= msg %>
  </div>
<% end %>

  <h1><%= @place.park_name %></h1><br />
  
  <%= form_tag place_charges_path(@place) do %>
  <p><img src="<%= @place.photo %>"></p><br /> 
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: <%=number_to_currency @place.cost %></span>
      </label>
    </article>

  
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-email="<%= user_signed_in? ? current_user.email : current_host.email %>"
            data-description="<%= @place.park_name %>"
            data-amount="<%= (@place.cost * 100).to_i %>"
            data-locale="auto"></script>
  <% end %>



  <%= simple_form_for @bookings, url: place_bookings_path(@place), method: :post  do |f| %>
    <%= f.input :name, :required => true, class: "booking-name-form" %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.hidden_field :place_id, value: @place %>
    <%= f.hidden_field :placeable_id, value: @place.placeable_id %>
    <%= f.hidden_field :user_id, value: user_signed_in? ? current_user.email : current_host.email %>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>  


 <%= month_calendar events: @bookings do |date, bookings| %>
    <%= date %>
    <% bookings.each do |booking| %>
      <div>
        <%= booking.name %>
      </div>
    <% end %>
  <% end %> 









<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
