<p id="notice"><%= notice %></p>

  <h1><%= @place.park_name %></h1><br />
  <%= form_tag place_charges_path(@place) do %>
  <div class="picture"><p><img src="<%= @place.photo %>"></p><br /> </div>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: <%=number_to_currency @place.cost %></span>
      </label>
    </article>
    <div id="calendar"></div>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-email="<%= current_user.email %>"
            data-description="<%= @place.park_name %>"
            data-amount="<%= (@place.cost * 100).to_i %>"
            data-locale="auto"></script>
  <% end %>
      
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>


